#header {
    background-color:#001E25;
    color:white;
    text-align:center;
    padding:5px;
}
body {
    display:none;
    color:#222222;
}
.show {
    display:block;
}
#nav {
    line-height:30px;
    background-color:#33cc33;
    height:1000px;
    width:10%;
    float:left;
    padding:0;
}
#left {
    /*width:350px;*/
    background-color:#777777;
    width:45%;
    float:left;
    padding:0;
}
#right {
    /*width:350px;*/
    background-color:#666666;
    width:45%;
    float:right;
    padding:0px;
}
#footer {
    background-color:#001E25;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
canvas {
    border: 5px dotted black;
}
#timeline {
    /*width:350px;*/
    background-color:#999999;
    width:89%;
    float:left;
    padding:0;
}